.promo-content {
  position: relative;
  background-color: #000;
}

.promo-img { 
  width: 100%;
  height: 450px;
  opacity: 0.3;
}

.promo-img-info {
  position: absolute;
  bottom: 8px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%
}

.promo-title-like {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}

.promo-title-content {
  display: flex;
  width: 65%;
  flex-direction: column;
  margin-left: 5%;
}

.promo-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  color: #fff;
  letter-spacing: 0;
  text-transform: uppercase;
}

.promo-infos {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  color: #fff;
  letter-spacing: 0;
}

.promo-synopsis {
  width: 80%;
  margin: 2% 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 0px;
  color: #fff;
}

.promo-like {
  color: var(--bg-primary-color);
}

.promo-price-rating {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}


.promo-price {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 20%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  color: var(--bg-primary-color);
  font-size: 1.5em;
}

.promo-rating {
  margin-right: 5%;
  width: auto;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.8);
  background-color: rgba(73, 76, 98, 0.2);
}

.promo-score {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  margin: 4%;
  color: #fff;
}
.promo-score2 {
  border: 1px solid white;
  padding: 3%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin-left: 4%;
  margin-bottom: 2%;
  color: #fff;
}

.promo-info {
  width: 180px;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  color: rgb(236, 235, 235);
}

.rating-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 3%;
}

.star {
  color: var(--bg-primary-color);
  margin-bottom: 5%;
}

.outline-white {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}