.card-component {
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 5%;
}

.card-content {
  display: flex;
  flex-direction: column;
  border-top: 10px;
  background-color: #fff;
  border-radius: 4px;
  width: 23%;
  margin: 1%;
}

.card-image {
  width: 100%;
}

.card-img-box {
  position: relative;
}

.card-img-info {
  position: absolute;
  bottom: 8px;
  width: 80%;
  margin: 10% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.film-year {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #acadb6;
}

.film-rating {
  width: 43px;
  height: 43px;
  background-color: #ffcd00;
  border-radius: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-align: center;
  box-shadow: 1px 1px rgba(255, 205, 0, 0.53);
}

.card-body {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

.card-header-title {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.film-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #494c62;
  font-size: 1.3em;
}

.film-genre {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #babbc3;
  font-size: .75em;
}

.film-duration {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #2d2d2d;
  font-size: .6em;
}

.film-like {
  display: flex;
  align-items: center;
  color: var(--bg-primary-color);
}


.film-synopsis {
  width: 90%;
  margin: 2% 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.7em;
  color: #9ba39e;
}

.film-view {
  display: flex;
  justify-content: flex-end;
  margin: 2% 4% 2% 0;
}

.film-price {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  color: var(--bg-primary-color);
  font-size: .9em;
}

.fa-heart-o , .fa-heart{
  text-shadow: 1px 2px 4px #776b6e;
}
@media(max-width: 768px) { 
  .card-content {
    width: 48%;
  }
}

@media(max-width: 360px) { 
  .card-content {
    width: 100%;
  }
}