.loader-content {
  background-color: rgba(3, 7, 15, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;  
  align-items: center;
  z-index: 1;
}