.header-content {
  background-color: var(--bg-primary-color);
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2
}

.header-title {
  display: flex;
  width: 25%;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  text-shadow:  0 3px 3px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 2em;
}

nav{
  display: flex;
  width: 45%;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 97%;
}

nav ul li a {
  color: white;
  padding: 0 20px;
  text-decoration: none;
  font-family: 'Dosis';
  font-size: 1.4em;
}
nav ul li:hover {
  border-bottom: 5px solid #ffcd00;
}
nav ul li a.active {
  font-weight: bold;
}

.search-content {
  width: 25%;
  color: white;
}


.profile-settings {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.profile-settings-menu {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: flex-end;
}

.img-logo {
  height: 100%;
}

.dropdown {
  color: white;
  padding: 0 20px;
  text-decoration: none;
  font-family: 'Dosis';
  font-size: 1.4em;
}

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #000;
  opacity: 0.9;
  min-width: 330px;
  top: 55px;
  left: 35%;
}

.dropdown-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.7em !important;
  height: 300px;
}

.genre-style:hover {
  color: #ffcd00 !important;
}

.dropdown:hover .dropdown-container {
  display: block;
}

.icon-ajust {
  margin-top: 7px;
  margin-left: 4px;
}

.dropdown-config {
  position: absolute;
  width: 200px;
  opacity: 0.9;
  background-color: #000;
  right: 0px;
  top: 55px;
}

.dropdown-content-config {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.dropdown-content-config span {
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  font-weight: bold;
}

.content-config-ajust {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.content-config-ajust:hover {
  color: #ffcd00 !important;
}

.leave-container {
  background-color: rgba(3, 7, 15, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;  
  align-items: center;
  z-index: 150;
}

.leave-content{
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 30px 0px 0px 0px;
}

.leave-content-btn {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn-stay {
  background-color: green;
}
.btn-leave {
  background-color: red;
}

.btn-stay {
  border-radius: 0px 0px 0px 10px;
  background-color: red; 
  border: none;
  color: white;
  width: 50%;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-stay:hover {
  background-color: #555; 
}

.btn-leave {
  background-color: #4CAF50; 
  border-radius: 0px 0px 10px 0px;
  border: none;
  color: white;
  padding: 10px 32px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-leave:hover {
  background-color: #555; 
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
  border-radius: 10px;
  background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	background-color: #129793 !important;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	padding: 9px 10px 9px 32px;
  background-color: #fff !important;
  background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 100px;
	color: transparent;
	cursor: pointer;
}

#demo-2 input[type=search]:focus {
	width: 80%;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

.buttonInside{
  position:relative;
}

.button-clear-input{
  position:absolute;
  right: 30px;
  top: 10px;
  border:none;
  height:20px;
  width:20px;
  border-radius:100%;
  outline:none;
  text-align:center;
  font-weight:bold;
  padding:2px;
}

button::-webkit-search-cancel-button {
	display: none; 
}

@media(max-width: 768px) { 
  .header-content {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
}




