.header-content {
  background-color: var(--bg-primary-color);
  display: flex;
  height: 55px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2
}

.header-title {
  display: flex;
  width: 20%;
  justify-content: center;
  font-family: 'Dosis';
  text-shadow:  0 3px 3px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 2em;
}

nav{
  display: flex;
  width: 60%;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;

}

nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 98%;
}

nav ul li a {
  color: white;
  padding: 0 20px;
  text-decoration: none;
  font-family: 'Dosis';
  font-size: 1.4em;
}
nav ul li:hover {
  border-bottom: 5px solid #ffcd00;
}
nav ul li a.active {
  font-weight: bold;
}

.search-content {
  display: flex;
  width: 5%;
  justify-content: center;
  color: white;
}


.profile-settings {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.img-logo {
  height: 100%;
}

.dropdown {
  color: white;
  padding: 0 20px;
  text-decoration: none;
  font-family: 'Dosis';
  font-size: 1.4em;
}

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #000;
  opacity: 0.9;
  min-width: 330px;
  margin: 178px -20px;
}

.dropdown-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.7em !important;
  height: 300px;
}

.genre-style:hover {
  color: #ffcd00 !important;
}

.dropdown:hover .dropdown-container {
  display: block;
}