.movie-content {
  background-color: #f8f8f8;
}

.film-not-found {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.film-not-found span {
  font-family: 'Dosis', sans-serif;
  color: var(--bg-primary-color);
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 50px !important;
}

.sad-ajust {
  margin-top: 30px;
  color: var(--bg-primary-color);
}

