.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.auth-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: 560px;
  border-radius: 15px;
  background-color: #fff;
} 

.getid-content {
  display: flex;
}


.header-label {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.label {
  text-align: center;
  width: 80%;
  word-wrap: break-word;
  font-family: 'Dosis', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

.button-continue {
  margin: 40px;
  width: 75%;
  height: 45px;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0 rgba(18, 151, 147, 0.4);
  border: solid 1px #cfd0d1;
  background-color: var(--bg-primary-color); 
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

.button-disabled {
  margin: 40px;
  width: 75%;
  height: 45px;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0 rgba(137, 146, 146, 0.4);
  border: solid 1px #cfd0d1;
  background-color: #ada5a5; 
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  cursor: not-allowed;
}

.button-continue:hover {
  background-color: #0e726f;
}

.label-email-gray {
  font-family: 'Roboto', sans-serif;
  color: #5b5a5a;
  font-size: 1.0em;
  margin-top: 0;
  margin-bottom: 34px;
}

.errorIcon {
  margin-top: 3px;
  padding-right: 5px;
  float: left;
}

.error-handler {
  width: 70%;
  font-weight: bold;
  font-size: 0.75em;
}
.error-none {
  display: none;
}


#hideMe {
  -moz-animation: cssAnimation 0s ease-in 4s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 4s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 4s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 4s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

.animation {
  animation: fadein var(--speed-fadein);
  -moz-animation: fadein var(--speed-fadein); /* Firefox */
  -webkit-animation: fadein var(--speed-fadein); /* Safari and Chrome */
  -o-animation: fadein var(--speed-fadein); /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
      left: 100px;
  }
  to {
      opacity:1;
      left: 100px;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}




